<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://www.firstfiddle.in/assets/images/ff-logo-02.png" class="headerimg">
      <!-- <img src="assets/image/gurudwara.png" alt="" class="img"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" routerLink="/" style="color:#fbab29">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a1" routerLink="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a1" routerLink="/brands">BRANDS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link   a1" routerLink="/ourteam">OUR TEAMS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  a1" routerLink="/pressrelease">PRESS RELEASE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link   a1" routerLink="/contact">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  a1" routerLink="/carrers">CAREERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  a1_borderbox" routerLink="/franchise">FRANCHISE</a>
        </li>
      </ul>
    </div>
  </div>
</nav><!-- Nav bar end -->
<!-- home image -->