<!-- <app-header></app-header>  -->
<!-- <router-outlet></router-outlet>  -->
<!-- <app-add-emp></app-add-emp> -->
<!-- <app-interpolation-binding></app-interpolation-binding> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-view-teacher></app-view-teacher> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-attribute-binding></app-attribute-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-twoway-binding></app-twoway-binding> -->
<!-- <app-if></app-if> -->
<!-- <app-for [a]="title" ></app-for> -->
<!-- <app-switch></app-switch> -->
<!-- <app-child [parentToChild]='title'></app-child>
<app-child [student]='students'></app-child> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-api></app-api> -->
<app-news-api></app-news-api>
<!-- <app-edit-emp></app-edit-emp> -->
<!-- <app-display-emp></app-display-emp> -->
<!-- <app-display-student></app-display-student> -->
<!-- <app-display-team></app-display-team> -->
<!-- <app-add-emp></app-add-emp> -->
<!-- <app-footer></app-footer>  -->
