<h3>Ng Class</h3>
<div class="containner mt-5 text-center">
    <p [ngClass]="'color fontme borderme'">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere amet veniam
        reprehenderit neque quas culpa porro asperiores harum molestiae dolore perspiciatis, cupiditate iure sit nostrum
        quisquam corrupti. Ullam, mollitia sequi?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
        illum totam magni nemo, aliquid sapiente temporibus odit voluptas quibusdam nostrum assumenda molestiae
        excepturi quam repudiandae repellat illo iste hic. Quo.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dolor, aliquam, aut sint atque dolorem dolores
        fugit doloribus accusamus eum recusandae eveniet consequuntur. Tempore consectetur ipsam praesentium nesciunt
        eum perferendis.

    </p>
    <p [ngClass]="myclass">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae laborum fugit error fugiat vel placeat
        dolore ullam ea in optio. Libero, voluptatem facilis ipsum hic dolore nulla earum voluptate illum.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis distinctio incidunt in laudantium itaque modi
        possimus ipsa quo neque quos consequatur quidem perspiciatis velit ea quibusdam ullam quasi, nam libero?

    </p>

</div>